{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo" >
    <h1 class="text-center" >
        COMP4462_final_project
    </h1>

</div>

<div class="row p-4">
    <div class="card m-auto" style="width: 90%; height:50%; " data-aos="slide-left",>
       <div class="card-body" >
        <div id="video_url_correlation" style="display: flex; justify-content: center; align-items: center;">
                         
        </div>
        
        
        
       </div>
    </div>

</div>

<div class="row p-4">
    <div class="card m-auto" style="width: 90%;" data-aos="flip-left" >
       <div class="card-body" >
        <div id="chart1"></div>
         
        
       </div>
    </div>

</div>


<div class="row p-4">
    <div class="card m-auto" style="width: 90%; height:30%;" data-aos="slide-left" >
       <div class="card-body" >
        <div id="video-container-violin" style="display: flex; justify-content: center; align-items: center;">
                         
        </div>
        
        
        
       </div>
    </div>

</div>




<div class="row p-4">
    <div class="card m-auto" style="width: 90%; height:40%;" data-aos="slide-left" >
       <div class="card-body" >
        <div id="video_url_inflation" style="display: flex; justify-content: center; align-items: center;">
                         
        </div>
        
        
        
       </div>
    </div>

</div>
    










   <!-- plotly CDN -->

   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
   <script type="text/javascript">

       var graph1 = {{ graph1JSON | safe}};
       Plotly.plot("chart1", graph1,{});
       
    </script>

   

    <script>
        var videoUrl = "{{ video_url_violin}}";
        var videoElement = document.createElement("video");
        videoElement.width = 700;
        videoElement.height = 400;
        videoElement.autoplay = true;
        var sourceElement = document.createElement("source");
        sourceElement.src = videoUrl;
        videoElement.controls = false;
        videoElement.muted = false; // Set muted to false
        sourceElement.type = "video/mp4";
        videoElement.appendChild(sourceElement);
         // Add the loop attribute to make the video loop
         videoElement.loop = true;


        var videoContainer = document.getElementById("video-container-violin");
        videoContainer.appendChild(videoElement);

        
    </script>


    <script>
        var videoUrl = "{{ video_url_correlation}}";
        var videoElement = document.createElement("video");
        videoElement.width = 700;
        videoElement.height = 400;
        videoElement.autoplay = true;
        var sourceElement = document.createElement("source");
        sourceElement.src = videoUrl;
        videoElement.controls = false;
        videoElement.muted = false; // Set muted to false
        sourceElement.type = "video/mp4";
        videoElement.appendChild(sourceElement);

        videoElement.loop = true;


        var videoContainer = document.getElementById("video_url_correlation");
        videoContainer.appendChild(videoElement);
    </script>


    <script>
        var videoUrl = "{{ video_url_inflation}}";
        var videoElement = document.createElement("video");
        videoElement.width = 700;
        videoElement.height = 400;
        videoElement.autoplay = true;
        var sourceElement = document.createElement("source");
        sourceElement.src = videoUrl;
        videoElement.controls = false;
        videoElement.muted = false; // Set muted to false
        sourceElement.type = "video/mp4";
        videoElement.appendChild(sourceElement);

        videoElement.loop = true;


        var videoContainer = document.getElementById("video_url_inflation");
        videoContainer.appendChild(videoElement);
    </script>


    

 
{% endblock%}


