{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">
    <h1 class="text-center">
        COMP4462_final_project
    </h1>

</div>

<div class="row p-4">
    <div class="card m-auto" style="width: 90%;" data-aos="flip-left" >
       <div class="card-body" >
        <div id="chart1"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ea, earum similique doloribus 
                illum quis voluptas illo exercitationem qui voluptate obcaecati repudiandae, ad perferendis sequi amet 
                doloremque. Labore, magni excepturi minima cum sit magnam maiores mollitia officiis ut aperiam, doloribus 
                explicabo natus consectetur veritatis atque, dolorum sed esse omnis adipisci iusto exercitationem? Molestiae 
                deserunt excepturi amet optio officia sit omnis maxime, eos quam natus voluptatum reprehenderit dolor quasi at 
                repellendus quas. Odio nesciunt nostrum totam enim fugiat, et reiciendis at?
            </p>
        
       </div>
    </div>

</div>



<div class="card mb-4 m-auto" style="width: 100%;" data-aos="fade-left">
    <div class="card-body">
        <div id="chart2"></div>
        
    </div>
</div>

   <!-- plotly CDN -->

   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
   <script type="text/javascript">

       var graph1 = {{ graph1JSON | safe}};
       Plotly.plot("chart1", graph1,{});

    


   </script>

{% endblock%}